.Rproj.user
.Rhistory
.RData
.Ruserdata
train.csv
test.csv
test_supplement.csv
sample_submission.csv
train_sample.csv
ensembling_submission.csv
improve2.csv
ensembling_submission2.csv
wordbatch_fm_ftrl.csv